In [9]:
import pandas as pd
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity

In [39]:
ratings=pd.read_csv("bookratings.csv",index_col=0)
ratings=ratings.fillna(0)
ratings

          adventure1  adventure2  adventure3  romantic1  romantic2  romantic3
0  user1         3.0         4.0         2.0        0.0        1.0        3.0
1  user2         1.0         3.0         4.0        2.0        5.0        0.0
2  user3         3.0         0.0         0.0        1.0        4.0        2.0
3  user4         0.0         3.0         1.0        5.0        0.0        3.0
4  user5         5.0         0.0         1.0        2.0        3.0        2.0

In [40]:
def standardize(row):
    new_row = (row - row.mean()) / (row.max()-row.min())
    return new_row

ratings_std = ratings.apply(standardize)

item_similarity = cosine_similarity(ratings_std.T)
print(item_similarity)

In [ ]:
item_similarity_df = pd.DataFrame(item_similarity,index=ratings.columns,columns=ratings.columns)
item_similarity_df

In [43]:
##let's make recommendations

def get_similar_books(book_name,user_rating):
    similar_score = item_similarity_df(movie_name)*user_rating
    similar_score = similar_score.sort_values(ascending=False)
    return similar_score
print(get_similar_movies('adventure1',5))

In [46]:
adventure_lover = [("adventure1",5),("romantic2",1),("romantic3",1)]

similar_movies = pd.DataFrame()

for movie,rating in adventure_lover:
    similar_movies = similar_movies.append(get_similar_movies(movie,rating),ignore_index_index=True)
    
similar_movies.head()
similar_movies.sum().sort_values(ascending=False)